html {
    font-size: 62.5%
}
body{
    //background: $dark-blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    //color:white;
}

.is-active{
    font-weight: bold;
}