// Color:
$off-black: #20222b;
$dark-blue: #333745;
$purple: #8357c5;
$off-white: #a5afd7;
$blue:#3c4251;
$light-blue: #464b5e;  

// Size:
$s-size:0.6rem;
$m-size:1.2rem;
$l-size:2rem;
$xl-size:4rem;